body {
  margin: 0;
  font-family: 'Merriweather';
  color: white;
  background: #020618;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 70%, transparent);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  z-index: 10;
  font-size: 1.1rem;
  margin-right: 3.5rem;
}

.home-link {
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.7rem;
    z-index: 10;
}


.navbar a {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 4px;
  font-weight: 500;
  font-family: 'Merriweather';
  
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.7s ease; /* Adjusts line speed thing */
}

.navbar a:hover::after {
  width: 100%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 15rem;
  color: #E2E8F0;
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info p {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 12px 0;
  justify-content: center;
}

.contact-info a {
  color: white;
}

.contact-info i {
  font-size: 1.2rem;
  color: #ffffff; /* change to your theme color */
}


.icon-box {
  width: 40px;
  height: 40px;
  background-color: #1D293D;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.icon-box i {
  font-size: 18px;
  color: #E2E8F0;
}


.contact-info, .socials, .Bottom-text {
  background: #080E22;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px #1D293D;
  text-align: center;
}

.contact-info h2, .socials h2, .Bottom-text h2 {
  margin-bottom: 1rem;
  color: #E2E8F0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.socials .icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #E2E8F0;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.socials-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #E2E8F0;
  font-weight: bold;
}

.socials .github:hover { color: #333; }
.socials .youtube:hover { color: #ff0000; }
.socials .twitter:hover { color: #1da1f2; }
